/* by ENJY*/
:root{
    --red:rgba(180, 3, 3, 1);
    --lightGrey:#333;
    --darkGrey:#1a1a20;
    --mediumGrey:#202028;
    --mainFont: 'Cairo', sans-serif;
}
body{
    height: 100vh;
    padding: 0;
    margin: 0;
    outline: 0;
}

*{
  font-family: var(--mainFont);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: -10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #444; 
    border-radius: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 15px;
  }
  /* scrollbar done */

  
.container{
   
    top: 0;
    padding: 2% 5%;
    height: 110vh;
    width: 100%;
    z-index: 1;
   background-image: url(../images/ss_af3bd4c4adfbc16227b6d54b9220914bd5e5717f.1920x1080.jpg);
    background-size: cover;
}
html{
    scroll-behavior: smooth;
}

/*.container::after{
    content: "";
    width: 100%;
    height: 100vh;
    display: block;
    background-image: linear-gradient(to top,rgba(180, 3, 3, 0.436),rgba(0, 0, 0, 0.422),rgba(0, 0, 0, 0.322),rgba(0, 0, 0, 0.222));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}*/


@media (min-width: 1500px) 
{
    .back-video{
        width: 100% !important;
    }
}

/* nav start */

.nav{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 100;
   flex-wrap: wrap;
   
}

.nav a{
    font-size: 15.5px;
    position: relative;
    z-index: 100;
    text-decoration: none;
    transition: all 0.5s;
}

.nav-main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nav a:not(.bars,.drop-menu):after{
    content: " ";
    width:0%;
    position: absolute;
    height: 1.5px;
    left: 50%;
    bottom: -3px;
    transform: translateX(-50%);
    background-color:var(--red);
    transition: all 0.5s;
}

.nav a:hover::after{
    width:50%;
}

.nav a:hover{
    color: var(--red);
    cursor: pointer;
}


.drop{
   display: none;
   position: relative;
   opacity: 0;
   z-index: 100;
   top: 25px;
   animation-name: dropAppear;
   animation-timing-function: linear;
   animation-duration: 0.5s;
   animation-fill-mode: forwards;

}

@keyframes dropAppear{
    from{
        display: none;
        opacity: 0;
    }
    to{
        display: block;
        opacity: 1;
    }
}
@keyframes dropHide{
    from{
        display: block;
        opacity: 1;
    }
  to{
    display: none;
    opacity: 0;
  }
}

.drop ul li{
    background-color: rgba(0, 0, 0, 0.399);
    padding: 2px 20px;
    margin-top: 4px;
    width: 180px;

}
.drop ul{
    list-style: none;
   position: absolute;
   right: 0;
  
}
.drop ul a{
    text-decoration: none;
}

.bars i{
    z-index: 100;
    transition: all 0.5s;
    padding: 0 2px;
}
.bars i:hover{
    color: var(--red);
}
.search{
    padding: 5px 20px;
    transition: all 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    z-index: 100;
}

.search:hover{
  color: var(--red);
}

.search::after{
    content: " ";
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: var(--red);
}

.search:hover{
    color: var(--red);
}



.logo{
    z-index: 100;
}

.logo img{
    width: 275px;
}

/* nav done */
/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: -10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #444; 
    border-radius: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    border-radius: 15px;
  }
  /* scrollbar done */
.nav{
    background-attachment: fixed;
}
.title{
    font-size: large;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
flex-direction: column;
height: 100%;
width: 100%;
position: relative;
z-index: 1;
}
.title h4{
    color: var(--red);
    padding: 1% 0;
    font-size: 22px;
}
.title h1{
    font-size: 65px;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px#919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
1px 18px 6px rgba(16,16,16,0.4),
1px 22px 10px rgba(16,16,16,0.2),
1px 25px 35px rgba(16,16,16,0.2),
1px 30px 60px rgba(16,16,16,0.4);
}
.main{
   /* height:200vh ;*/
    /*background-color: black;*/
      display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--lightGrey); 
    width: 100%;
    padding: 90px 0px;
    flex-wrap: wrap;

   
}
/*.header p{
    color: white;
    font-size: 40px;
    margin-top: 400px;
    margin-left: 200px;

}*/
/*.hh{
    width: 100%;
    height: 20px;
    border: 0 none;
    margin-right: auto;
    margin-left: 85px;
    justify-items:center ;
   background-color: white;
   margin-bottom: 90px;
}*/

.boxes{
    display: flex;
    justify-content:space-around;
    gap: 15px;
    margin: 20px 80px;
    flex-wrap: wrap;
  
    margin-left: 4%;
    width: 100%;
    color: black;
  }
  .box{
    flex-basis: 260px;
    width: 50%;
    background-color:transparent;
    position: relative;
    margin: 20px;
    box-sizing: border-box;
    height: 45vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   transition: 1s;
   
  }
  
  
  .bottom,.top{
    color: white;
  }
  
  .top{
    background-color: var(--red);
    border: 1px solid black;
    /*border-radius: 50%;*/
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    width: 90px;
    height: 40px;
    text-decoration: none;
     font-weight: bolder;
  }
  #img1{
    width: 200px;
  height: 355px;
  object-fit: cover;
  }
  .container2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    /*overflow-x: hidden;*/
    margin: 0;
    
  }
 .img1
 {
    background-image: url(../images/pngwing.com.png);
    width: 100%;
    height: 45vh;
    background-size: cover;
    background-position-x: center;
 }
 
 
 .img2
 {
    background-image: url(../images/msi.png);
    width: 109%;
    height: 50vh;
    background-size: cover;
    
 }
 .img3
 {
    background-image: url(../images/pngegg.png);
    width: 150%;
    height: 45vh;
    background-size: cover;
    background-position-x: center;
    
    
 }
 
 
 
 .img4{
    

    background-image: url(../images/pngegg\ \(1\).png);
    width: 115%;
    height: 45vh;
    background-size: cover;
    background-position-x: center;
  
 
 }
 .img5
 {
    background-image: url(../images/pngegg\ \(2\).png);
    width: 159%;
    height: 45vh;
    background-size: cover;
    background-position-x: center;
    
 }
 
 
 .txt{
    position: absolute;
    bottom: -10px;
    color: black;
    font-size: 40px;
 }
 .txt h3{
  color: black;
 }
 .read{
  color: white;
  font-weight: bold;
  font-size: 17px;

 }
 .social{
  margin-bottom: -10%;
 }
 .social-icon{
  border: 1px solid black;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  width: 40px;
  height: 40px;
  text-decoration: none;
  transition: 0.5s ease;
}
.social :hover{
  background-color: var(--red);
 
}
 